.Fridge {
	display: flex;
	padding-top: 4rem;
	padding-bottom: 5rem;
	justify-content: center;
	background-color: #faf9f6;
}

.addBtn {
	padding-right: 7rem;
}

.btn {
	margin-top: 1rem;
	border: none;
	background-color: #1d4ed8;
	color: #fff;
	padding: 0.5rem 1rem;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0px 5px 5px #ccc;
}

.search{
	margin-left: 30rem;
}

.dropdown{
	margin-left: 28rem;
}