@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/violet.css";
@import "@fontsource/roboto";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/400-italic.css";
@import "@fontsource/poppins";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/400-italic.css";
button {
	all: unset;
}
html {
	overflow-y: scroll;
}

body::-webkit-scrollbar {
    background-color: #faf9f6;
    width: 16px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 4px solid #faf9f6;
}

.upPage{
	background-color: #faf9f6;
}

body::-webkit-scrollbar-button {
    display:none;
}

.DayNumber{
	font-family: "Poppins";
	font-size: 2rem;
	color: #6CC51D;
}

.DaysSubtitle{
	font-family: "Poppins";
	font-size: 1rem;
	color: #6CC51D;
}

.ToastViewport {
	--viewport-padding: 25px;
	position: fixed;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	padding: var(--viewport-padding);
	gap: 10px;
	width: 390px;
	max-width: 100vw;
	margin: 0;
	list-style: none;
	z-index: 2147483647;
	outline: none;
}

.ToastRoot {
	background-color: white;
	border-radius: 6px;
	box-shadow:
		hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
		hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
	padding: 15px;
	display: grid;
	grid-template-areas: "title action" "description action";
	grid-template-columns: auto max-content;
	column-gap: 15px;
	align-items: center;
}
.ToastRoot[data-state="open"] {
	animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.ToastRoot[data-state="closed"] {
	animation: hide 100ms ease-in;
}
.ToastRoot[data-swipe="move"] {
	transform: translateX(var(--radix-toast-swipe-move-x));
}
.ToastRoot[data-swipe="cancel"] {
	transform: translateX(0);
	transition: transform 200ms ease-out;
}
.ToastRoot[data-swipe="end"] {
	animation: swipeOut 100ms ease-out;
}

@keyframes hide {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes slideIn {
	from {
		transform: translateX(calc(100% + var(--viewport-padding)));
	}
	to {
		transform: translateX(0);
	}
}

@keyframes swipeOut {
	from {
		transform: translateX(var(--radix-toast-swipe-end-x));
	}
	to {
		transform: translateX(calc(100% + var(--viewport-padding)));
	}
}

.ToastTitle {
	grid-area: title;
	margin-bottom: 5px;
	font-weight: 500;
	color: var(--slate-12);
	font-size: 15px;
}

.ToastDescription {
	grid-area: description;
	margin: 0;
	color: var(--slate-11);
	font-size: 13px;
	line-height: 1.3;
}

.ToastAction {
	grid-area: action;
}

.Button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	font-weight: 500;
}
.Button.small {
	font-size: 12px;
	padding: 0 10px;
	line-height: 25px;
	height: 25px;
}
.Button.large {
	font-size: 15px;
	padding: 0 15px;
	line-height: 35px;
	height: 35px;
}
.Button.violet {
	background-color: white;
	color: var(--violet-11);
	box-shadow: 0 2px 10px var(--black-a7);
}
.Button.violet:hover {
	background-color: var(--mauve-3);
}
.Button.violet:focus {
	box-shadow: 0 0 0 2px black;
}
.Button.default {
	/* background-color: white;
	box-shadow: 0 2px 10px var(--black-a4); */
	border-radius: 6px;
}
.Button.green {
	background-color: var(--green-2);
	color: var(--green-11);
	box-shadow: inset 0 0 0 1px var(--green-7);
}
.Button.green:hover {
	box-shadow: inset 0 0 0 1px var(--green-8);
}
.Button.green:focus {
	box-shadow: 0 0 0 2px var(--green-8);
}

button,
h3 {
	all: unset;
}

.AccordionRoot {
	border-radius: 6px;
	width: 70vmax;
	max-width: 80vmax;
	background-color: white;
	box-shadow: 0 2px 10px var(--black-a4);
	z-index: 3;
}

.AccordionItem {
	overflow: hidden;
	margin-top: 1px;
}
.AccordionItem:hover{
	background-color: var(--mauve-2);
}
.AccordionItem:first-child {
	margin-top: 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.AccordionItem:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.AccordionItem:focus-within {
	position: relative;
	z-index: 1;
	box-shadow: 0 0 0 2px var(--mauve-12);
}

.AccordionHeader {
	display: flex;
}

.AccordionTrigger {
	font-family: inherit;
	background-color: transparent;
	padding: 0 20px;
	height: 7vmax;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 15px;
	line-height: 1;
	color: black;
	/* box-shadow: 0 1px 0 var(--mauve-6); */
	background-color: transparent;
}

/* .AccordionTrigger:hover {
	background-color: var(--mauve-2);
}

.AccordionTrigger:hover ~ .AccordionContent,
.AccordionContent:hover ~ .AccordionTrigger {
	background-color: var(--mauve-2);
} */

.AccordionContent {
	overflow: hidden;
	font-size: 15px;
	height: 7vmax;
	/* color: var(--mauve-11); */
	/* background-color: var(--mauve-2); */
	background-color: transparent;
}
.AccordionContent[data-state="open"] {
	animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.AccordionContent[data-state="closed"] {
	animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.itemtitle{
	font-family: "Roboto";
	font-size: 1.2rem;
}

.itemimage{
	font-size:2rem;
}

.fridgeTitle{
	font-family:"Roboto";
	font-size: 1.2rem;
	padding-bottom: 2rem;
}
.fridgeTooltip{
	font-family:"Roboto";
	padding-bottom: 2rem;
	font-size: 1rem;
	color: #1DC54C;
}

.fridgeRegular{
	font-family:"Roboto";
	padding-left: 1rem;
	font-size: 1rem;
	color: black;
}

.swipeTooltip{
	padding-bottom: 2rem;
}

.expirationwrapper {
	background-color: #f8f4f4;
	height: 6vw;
	border-radius: 8px;
	font-family: "Roboto";
	font-size: 1.3rem;
	display: flex; /* Make the container a flex container */
	justify-content: center; /* Horizontally center the content */
	align-items: center; /* Vertically center the content */
}


.AccordionContentText {
	padding: 0px 20px;
}

.AccordionChevron {
	color: var(--green-11);
	transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.AccordionTrigger[data-state="open"] > .AccordionChevron {
	transform: rotate(180deg);
}

@keyframes slideDown {
	from {
		height: 0;
	}
	to {
		height: var(--radix-accordion-content-height);
	}
}

@keyframes slideUp {
	from {
		height: var(--radix-accordion-content-height);
	}
	to {
		height: 0;
	}
}

.HomePageTitle {
	font-size: 25px;
	grid-area: title;
	margin-bottom: 5px;
	font-weight: 500;
	color: var(--slate-12);

}
.UploadDescription {
	font-size: 16px;
	grid-area: title;
	margin-bottom: 5px;
	font-weight: 400;
	color: var(--slate-10);

}