.recipe_card {
	height: auto;
	max-height: 100px;
	width: auto;
	max-width: 100px;
}

.modal {
	border-radius: 5px;
	padding: 2rem;
	background-color: white;
	width: 25em;
}

.recipe_img {
	width: "20%";
	height: "auto";
	border-radius: 8px;
}

.ingredientlist {
	margin-top: "8px";
}


.opacity_text {
	background: rgba(237, 233, 234, 0.507);
  }